-#Форма для добавления новой задачи
-#Сделана в однострочном виде

= form_for( [project, Task.new]) do |form|
  .input-group
    .input-group-prepend
      %span.input-group-text
        .fa.fa-plus
    = form.text_field :name, class: "form-control", placeholder: "Что надо сделать?"
    -#Скрытым полем передаем ID текущего проекта
    = form.hidden_field :project_id, value: project.id, class: "form-control"
    -# = form.check_box :status, value: true
    .input-group-append
    = form.submit "Add Task", class: "btn btn-success "
