.text-center.text-white
  %h1 Simple TODO Lists
  Your can create and manage any things
  .row
  Save your Time!
  %p
  .row
    .col-8.m-auto
      %p
      = render 'projects/new'
.row
  - @projects.each do |project|
    = render 'projects/project', project: project
    %br
