= form_with(model: @project, remote: true, id: "update_form_#{project.id}") do |form|

  .input-group

    = form.text_field :name, class: "form-control", placeholder: "Название статьи",  :as => :input, minlength: "3", maxlength: "100"
    .input-group-append
      = form.submit class: "btn btn-success ", remote: true
