.container
  .row
    .col-10.m-auto
      .card
        .card-header.bg-primary.text-white
          = project.name
        .card-footer
          зона поиска
        .card-body
          список задач
