.container
  .row
    .col-10.m-auto
      .card
        .card-header.bg-primary.text-white
          = render 'projects/show', project: project
          = render 'tasks/tasks',   project: project
  %br
