%div{"aria-atomic" => "true", "aria-live" => "polite", :style => "position: fixed; "}
  .toast{:style => "position: fixed; top: 0; right: 0;"}



    -#.d-flex.justify-content-center.align-items-center{  :style => "position: fixed; top: 0; right: 0;"}
    -#  .toast{"aria-atomic" => "true", :role => "alert"}
    - flash.each do |name, msg|
      %div{:class => "alert mb-0  #{(name == 'notice') ? "alert-success" : "alert-danger"}    alert-dismissible fade show", :role => "alert"}
        %button.ml-2.mb-1.close{"aria-label" => "Close", "data-dismiss" => "toast", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        = msg


    -#.toast-header
      -#%strong.mr-auto Message
    -#.toast-body


-# - flash.each do |name, msg|
-#  %div{:class => "alert   #{(name == 'notice') ? "alert-success" : "alert-danger"} %>   alert-dismissible fade show", :role => "alert"}
-#    = msg
-#    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
-#      %span{"aria-hidden" => "true"} ×
